@model Booking.Models.Contact

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#btnSubmit").click(function() {
                Swal.fire({
                    icon: 'success',
                    title: 'Done',
                    text: 'Delete successfully!',
                    timer: 3000
                })
        })
    })
</script>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-9 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-primary">@Html.DisplayNameFor(model => model.FullName)</h4>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.FullName)
                    </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-danger">@Html.DisplayNameFor(model => model.Email)</h4>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.Email)
                    </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-warning">@Html.DisplayNameFor(model => model.Message)</h4>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.Message)
                    </p>
                </div>


                <form asp-action="Delete" class="container">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger me-2" id="btnSubmit"/>
                    <a asp-action="Index" class="btn btn-light">Back To List</a>
                </form>

                <br />
            </div>
        </div>
    </div>
</div>