@model Booking.Models.Contact

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-md-9 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-primary">@Html.DisplayNameFor(model => model.FullName)</h4>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.FullName)
                    </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-danger">@Html.DisplayNameFor(model => model.Email)</h4>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.Email)
                    </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-warning">@Html.DisplayNameFor(model => model.Message)</h4>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.Message)
                    </p>
                </div>
                <div class="container">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Edit</a>
                    <a asp-action="Index" class="btn btn-light">Back To List</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>